<style type="text/css" media="screen">
	body {
		margin: 0;
		padding: 0;
		font: 12px Helvetica, Arial, sans-serif;
		color: #334f57;
	}
	
	table.wrapper {
		width: 600px;
	}
	
	@media only screen and (max-device-width: 480px) { 
		.hide { display: none !important; }
		table.wrapper { width: 300px !important; }
	 }
	
	a:link, a:visited {
		color: #ff4200;
		text-decoration: none;
	}
	td.permission {
		font-size: 11px;
		font-weight: normal;
		color: #999999;
		padding: 10px 20px 10px 20px;
	}
	
	td.header {
		padding: 0 0 0 20px;
	}
	
	td.toc {
		font-size: 12px;
		padding: 30px 0 0 0;
	}
	
	td.toc p {
		font-weight: bold;
		color: #000000;
	}
	
	td.toc ul {
		color: #999999;
	}
	
	table.content td {
		font-size: 12px;
		color: #333333;
	}
	
	table.content td h2 {
		color: #334f57;
		font-size: 17px;
		margin: 0;
		padding: 0 0 10px 0;
	}
	
	table.content td p {
		margin: 0;
		padding: 0 0 1em 0;
	}
		
	dt {
		font-weight: bold;
	}

</style>