<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       
        
        <title>Your Perch CMS Demo is ready!</title>
		
	</head>

	<body style="background-image: url(https://media.grabaperch.com/email/demo/common/sky.gif);background-repeat: repeat-x;-webkit-text-size-adjust: none;margin: 0;padding: 0;font: 12px/1.3 Helvetica, Arial, sans-serif;color: #334f57;background-color: #ffffff;width: 100%;">
<table border="0" cellspacing="0" cellpadding="0" class="wrapper" style="max-width: 600px;">
	<tr>
		<td>
        	<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="permission" style="font-size: 11px;font-weight: normal;color: #999999;padding: 10px 20px 10px 20px;"> 
						This is your Perch Demo information. Unless you requested to be kept up to date you have not been added to any mailing list.
                    </td>
				</tr>
				<tr>
					<td class="header" style="padding: 0 0 0 20px;">
                    	
                    	<table width="100%" border="0" cellpadding="0" cellspacing="0">
                        	<tr>
                       		 	<td colspan="2" valign="top" align="center"><img src="https://media.grabaperch.com/email/demo/common/logo.png" alt="Perch" width="185" height="50" style="height: auto;max-width: 100%;"></td>
                            </tr>
                            <tr height="150">
                            	<td class="toc" style="width: 200px;font-size: 12px;padding: 30px 0 0 0;"><p style="color: #334f57;font-weight: bold;">Hi $userFirstName, good news!</p>
                                <p style="font-weight: bold;color: #000000;">Your personalised Perch CMS demo ($demoSite site) is ready.
								</p>
                                </td>
								
								<td align="right" style="background-position: 40px 20px;background-image: url(https://media.grabaperch.com/email/demo/common/fly_bird.png);width:145px;height: 150px;background-repeat:no-repeat;" class="flyburd">
									&nbsp;
								</td>
                            </tr>
                        </table>
                    </td>
		  		</tr>
				<tr>
					<td style="padding: 20px;">
                    	<table class="content" border="0" cellspacing="0" cellpadding="0" style="margin: 0 0 20px 0;padding:20px;background-image: url(https://media.grabaperch.com/email/demo/common/texture.png);border: 1px dashed #cacbcc;border-radius:5px;table-layout: fixed; width: 100%;">
							<tr>
								<td style="font-size: 12px;color: #333333;">
									

                              
                                    <div class="repeater" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;" mc:repeatable>
										<h2 style="color: #334f57;font-size: 17px;margin: 0;padding: 0 0 10px 0;">Your site details</h2>
										<p style="margin: 0;padding: 0 0 1em 0;">View the site at: <a href="https://$demoHost.$demoNode/" style="color: #ff4200;text-decoration: none;">$demoHost.$demoNode</a></p>

										<p style="margin: 0;padding: 0 0 1em 0;">You can log into the Perch Admin at: <a href="https://$demoHost.$demoNode/perch/" style="color: #ff4200;text-decoration: none;">$demoHost.$demoNode/perch</a>
								<br>Username: $demoUsername
								<br>Password: $demoPasswordClear

								</p><p style="margin: 0;padding: 0 0 1em 0;">Your demo site will be active for 72 hours. After that time the account will be wiped clean of any data. You can sign up for as many demos as often as you wish.</p>
								
									</div>	
					<p style="margin: 20px 0 0 0;padding: 0 0 1em 0;">Below are a few things you might like to take a look at as you explore the demo. We do hope that you enjoy Perch. If you have any questions, just reply to this email, or <a href="https://grabaperch.com/support" style="color: #ff4200;text-decoration: none;">post to the forum</a>.</p>
    <div style="text-align:right;padding: 30px 0 0 0;"><img src="https://media.grabaperch.com/email/demo/common/sig.gif" width="141" height="23" alt="Rachel and Drew" style="height: auto;max-width: 100%;"></div>	
                                
 								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td style="padding: 20px;">
                    	<table class="content" border="0" cellspacing="0" cellpadding="0" style="margin: 0 0 20px 0;padding:20px 0 20px 0;background-image: url(https://media.grabaperch.com/email/demo/common/texture.png);border: 1px dashed #cacbcc;border-radius:5px;table-layout: fixed; width: 100%;">
							<tr>
								<td style="padding: 0 20px 0 20px;font-size: 12px;color: #333333;">
									

                              
                                 <p style="margin: 0;padding: 0 0 1em 0;">The Default site includes stock Perch plus our <a href="https://grabaperch.com/add-ons/feathers/quill?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=default1" style="color: #ff4200;text-decoration: none;">Quill Feather</a> to add some default styles. Use of Feathers in Perch is entirely optional &#8211; you can instead include your CSS and JavaScript as you normally do. The site content tells you a bit about how Perch works.</p>

                                 <div class="section" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">
								<h2 style="color: #334f57;font-size: 17px;margin: 0;padding: 0 0 10px 0;">Branding</h2>

								<p style="margin: 0;padding: 0 0 1em 0;">When you log into Perch, and in the default interface you can see the Perch logo and also a link to <a href="https://edgeofmyseat.com" style="color: #ff4200;text-decoration: none;">edgeofmyseat.com</a> &#8211; that&#8217;s us, the company who develops Perch.</p>

								<p style="margin: 0;padding: 0 0 1em 0;">We understand however that you might like to white label the system or just upload a client logo so it feels like &#8220;theirs&#8221;. To upload a logo go to Settings in the sidebar, and one of the options there is to upload a logo. You will also see that you can change the colour scheme there and check a checkbox to &#8220;Hide Perch Branding&#8221;.</p>

								<img src="https://media.grabaperch.com/email/demo/default/demo1.png" alt="Settings Page" title="" class="image-feature" style="margin: 20px 0 20px 0;border: 1px solid #cacbcc;height: auto;max-width: 100%;">	

								<p style="margin: 0;padding: 0 0 1em 0;">Once you have your own Perch install you can go a step further and rename the /perch folder to something else and even <a href="https://docs.grabaperch.com/docs/customizing-perch/ui-customizations/?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=default1" style="color: #ff4200;text-decoration: none;">create UI plugins</a> to customize the UI. Unlike some systems we don&#8217;t charge extra for you to make Perch your own.</p>
							</div>

							<div class="section" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">
								<h2 style="color: #334f57;font-size: 17px;margin: 0;padding: 0 0 10px 0;">Editing content using Perch</h2>

								<p style="margin: 0;padding: 0 0 1em 0;">The default demo site has been set up as a mini tutorial in how to edit content in Perch. Take a look at the homepage of the site, there is a welcome message there. In Perch admin, from the list of pages select Homepage and then in the list of homepage Regions select &#8220;Welcome message&#8221;, you can edit the text there.</p>
							</div>

							<div class="section" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">
								<h3>Drafts and Preview</h3>

								<p style="margin: 0;padding: 0 0 1em 0;">In some simple content editors saving an edit will push it live right away, which can be a bit scary for clients who would like to check it first.</p>

								<p style="margin: 0;padding: 0 0 1em 0;">When saving an edit you can check the Save as draft checkbox, you will then get a link to preview how things will look before publishing the change.</p>

								<img src="https://media.grabaperch.com/email/demo/default/demo2.png" alt="Craft and Preview" title="" class="image-feature" style="margin: 20px 0 20px 0;border: 1px solid #cacbcc;height: auto;max-width: 100%;">
									<p style="margin: 0;padding: 0 0 1em 0;">Another useful feature is Undo. Perch saves a history of content changes so if an editor does something and realizes it was a mistake they can just hit undo and the content will go back to the way it was before.</p>
							</div>

							<div class="section" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">
								<h3>How do those content regions get there?</h3>

								<p style="margin: 0;padding: 0 0 1em 0;">It is super simple to start editing basic content like this welcome text in Perch. You add Perch to the page, add a Perch Region tag with the name of the Region, refresh your page and that Region will show up in the Perch admin. There you can select a template. You can see exactly how this works in this video.</p><div class="vimeo"><a href="https://docs.grabaperch.com/video/tutorials/swift/editing-content/?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=default1" style="color: #ff4200;text-decoration: none;"><img src="https://media.grabaperch.com/email/demo/default/vimeo1.png" alt="Video screenshot" title="Watch this video in the documentation" style="height: auto;max-width: 100%;"></a></div>	
							</div>

							<div class="section" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">

								<h3>What are Perch Templates and can I make my own?</h3>

								<p style="margin: 0;padding: 0 0 1em 0;">Perch ships with some basic templates, these are just fragments of HTML with Perch tags in them. As shown in the above video, you can start to edit basic content using our default templates. The real magic of Perch comes when you start to create your own as they allow you to create your own markup and style it just as you please, without worrying about what your client might do to it.</p>

								<p style="margin: 0;padding: 0 0 1em 0;">The Intro Block template used for the Welcome text looks like this:</p>
<div style="word-wrap:break-word; margin: 0 0 20px 0">
<code><&lt;h1&gt;&lt;perch:content id="heading" type="text" label="Heading" title="true" size="xl" /&gt;&lt;/h1&gt;
<br>
&lt;perch:content id="text" type="textarea" label="Text" textile="true" editor="markitup" imagewidth="640" 
 imageheight="480" /&gt;</code>
 </div>	

								<p style="margin: 0;padding: 0 0 1em 0;">So here we have a single line text field and a textarea field. You can find out more about template tags in the <a href="https://docs.grabaperch.com/docs/content/template-tags/?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=default1" style="color: #ff4200;text-decoration: none;">documentation</a> and we have a number of <a href="https://docs.grabaperch.com/video" style="color: #ff4200;text-decoration: none;">videos</a> that cover different aspects of working with templates in Perch.</p>

								<p style="margin: 0;padding: 0 0 1em 0;">By the way, all of the page and template code for this demo is available on <a href="https://github.com/PerchCMS/perchdemo-default/" style="color: #ff4200;text-decoration: none;">GitHub</a> so you can have a look. If any of the templates are useful in your project once you have a Perch license feel free to grab and use them either as is, or as a starting point to edit.</p>
							</div>

							<div class="section" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">

								<h3>My clients won&#8217;t get on with Textile</h3>

								<p style="margin: 0;padding: 0 0 1em 0;">We use the MarkItUp Editor with Textile on our default templates and you&#8217;ve seen it in action in this demo. We understand that many people would prefer to use some kind of WYSIWYG editor &#8211; the problem with these is that they do tend to introduce nasty markup. As a core concept in Perch is that you can protect your markup and design we don&#8217;t use one on our default templates.</p>

								<p style="margin: 0;padding: 0 0 1em 0;">That said, if you want a WYSIWYG we have them enabled as Plugins for Perch. There are a number of these available as <a href="https://grabaperch.com/add-ons/plug-ins?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=default1" style="color: #ff4200;text-decoration: none;">free add-ons</a> from our website and you can even <a href="https://docs.grabaperch.com/docs/customizing-perch/installing-editors/?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=default1" style="color: #ff4200;text-decoration: none;">create your own Plugin</a> if you want to use an editor that we don&#8217;t have our own wrapper for.</p>

								<p style="margin: 0;padding: 0 0 1em 0;">On the demo, take a look at the Staff Profiles Region of the About Page. The Biography can be edited using the Redactor Editor. You would just need to download and install Redactor as described here and then use it on a textarea field like so:</p>

								<div style="word-wrap:break-word; margin: 0 0 20px 0">
									<code>&lt;perch:content id="bio" type="textarea" label="Biography" editor="redactor" size="s" html="true" order="5" /&gt;</code>
								</div>
							</div>

							<div class="section" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">

								<h2 style="color: #334f57;font-size: 17px;margin: 0;padding: 0 0 10px 0;">Template Conditionals</h2>

								<p style="margin: 0;padding: 0 0 1em 0;">While we are looking at the Staff Profiles region we can see something interesting. In the template is the following section:</p>

								<div style="word-wrap:break-word; margin: 0 0 20px 0">
									<code>&lt;perch:if exists="image"&gt;
  									<br>&lt;perch:content id="image" type="image" label="Photo" width="80" height="80" density="2" crop="true" order="6" output="tag" class="photo" /&gt;
									<br>&lt;perch:else /&gt;
									<br>  &lt;img class="photo" src="https://www.gravatar.com/avatar/&lt; perch:content id="email" type="email" label="Email address" required="true" order="4" hash="md5" /&gt;?s=160&amp;amp;d=mm" width="80" height="80" /&gt;
									<br>&lt;/perch:if&gt;</code></div>	

								<p style="margin: 0;padding: 0 0 1em 0;">We are using Perch Conditionals here to check and see if an image has been uploaded. If it has we display the image, if not we see if the user has a Gravatar for their email address and display that. You can find out more about using Perch Conditionals in the documentation or in this video from the Video Tutorial.</p>

								<div class="vimeo"><a href="https://docs.grabaperch.com/video/tutorials/swift/required-fields/?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=default1" style="color: #ff4200;text-decoration: none;"><img src="https://media.grabaperch.com/email/demo/default/vimeo2.png" alt="Video screenshot" title="Watch this video in the documentation" style="height: auto;max-width: 100%;"></a></div>	

							</div>
							<div class="section" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">
								<p style="margin: 0;padding: 0 0 1em 0;">This is just a short overview of some of the things you can see in the Default Demo. We hope that you enjoy taking a look around. If you want to know more the <a href="https://grabaperch.com/demo?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=default1" style="color: #ff4200;text-decoration: none;">other demo sites</a> show a more fully worked website, and also some of the official Perch Apps and you can always <a href="mailto:hello@grabaperch.com" style="color: #ff4200;text-decoration: none;">drop us a line</a> if you have any questions.</p>
							</div>
                                
 								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
				  <td valign="top" class="footer">
                    	
                        <div class="bubble" style="background-image:url(https://media.grabaperch.com/email/demo/common/bubble.png); background-repeat: no-repeat;font-size: 12px; text-align:center;height: 43px;font-weight: bold;margin: 20px 58px 5px 58px; padding: 20px 10px 10px 10px;">Thanks for reading. Talk to us on <a href="https://grabaperch.com/twitter" style="color: #ff4200;text-decoration: none;">Twitter</a>, <a href="https://www.facebook.com/grabaperch" style="color: #ff4200;text-decoration: none;">Facebook</a> or <a href="mailto:hello@grabaperch.com" style="color: #ff4200;text-decoration: none;">email</a>.</div>

                        <div class="footerburd" style="background-image:url(https://media.grabaperch.com/email/demo/common/bottom.png); background-position: bottom left; background-repeat: no-repeat;height:115px;">&nbsp;</div>
                      
                    </td>
                 </tr>
                 <tr><td align="center" style="padding: 20px;background-image:url(https://media.grabaperch.com/email/demo/common/footer_tile.jpg);color: #ffffff;" bgcolor="#744c26">
                    	
                    
						<p class="company" style="font-size: 11px;color: #ffffff;padding-bottom:10px;">Perch is a product developed and sold by Perch Runway Limited
                        <br>
Registered as a company in England and Wales, company registration no. 12862192</p>
						
                                                               

				  </td>
			  </tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>