<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       
        
        <title>Your Perch CMS Demo is ready!</title>
		
	</head>

	<body style="background-image: url(https://media.grabaperch.com/email/demo/common/sky.gif);background-repeat: repeat-x;-webkit-text-size-adjust: none;margin: 0;padding: 0;font: 12px/1.3 Helvetica, Arial, sans-serif;color: #334f57;background-color: #ffffff;width: 100%;">
<table border="0" cellspacing="0" cellpadding="0" class="wrapper" style="max-width: 600px;">
	<tr>
		<td>
        	<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="permission" style="font-size: 11px;font-weight: normal;color: #999999;padding: 10px 20px 10px 20px;"> 
						This is your Perch Demo information. Unless you requested to be kept up to date you have not been added to any mailing list.
                    </td>
				</tr>
				<tr>
					<td class="header" style="padding: 0 0 0 20px;">
                    	
                    	<table width="100%" border="0" cellpadding="0" cellspacing="0">
                        	<tr>
                       		 	<td colspan="2" valign="top" align="center"><img src="https://media.grabaperch.com/email/demo/common/logo.png" alt="Perch" width="185" height="50" style="height: auto;max-width: 100%;"></td>
                            </tr>
                            <tr height="150">
                            	<td class="toc" style="width: 200px;font-size: 12px;padding: 30px 0 0 0;"><p style="color: #334f57;font-weight: bold;">Hi $userFirstName, good news!</p>
                                <p style="font-weight: bold;color: #000000;">Your personalised Perch CMS demo ($demoSite site) is ready.
								</p>
                                </td>
								
								<td align="right" style="background-position: 40px 20px;background-image: url(https://media.grabaperch.com/email/demo/common/fly_bird.png);width:145px;height: 150px;background-repeat:no-repeat;" class="flyburd">
									&nbsp;
								</td>
                            </tr>
                        </table>
                    </td>
		  		</tr>
				<tr>
					<td style="padding: 20px;">
                    	<table class="content" border="0" cellspacing="0" cellpadding="0" style="margin: 0 0 20px 0;padding:20px;background-image: url(https://media.grabaperch.com/email/demo/common/texture.png);border: 1px dashed #cacbcc;border-radius:5px;table-layout: fixed; width: 100%;">
							<tr>
								<td style="font-size: 12px;color: #333333;">
									

                              
                                    <div class="repeater" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;" mc:repeatable>
										<h2 style="color: #334f57;font-size: 17px;margin: 0;padding: 0 0 10px 0;">Your site details</h2>
										<p style="margin: 0;padding: 0 0 1em 0;">View the site at: <a href="https://$demoHost.$demoNode/" style="color: #ff4200;text-decoration: none;">$demoHost.$demoNode</a></p>

										<p style="margin: 0;padding: 0 0 1em 0;">You can log into the Perch Admin at: <a href="https://$demoHost.$demoNode/perch/" style="color: #ff4200;text-decoration: none;">$demoHost.$demoNode/perch</a>
								<br>Username: $demoUsername
								<br>Password: $demoPasswordClear

								</p><p style="margin: 0;padding: 0 0 1em 0;">Your demo site will be active for 72 hours. After that time the account will be wiped clean of any data. You can sign up for as many demos as often as you wish.</p>
								
									</div>	
					<p style="margin: 20px 0 0 0;padding: 0 0 1em 0;">Below are a few things you might like to take a look at as you explore the demo. We do hope that you enjoy Perch. If you have any questions, just reply to this email, or <a href="https://grabaperch.com/support" style="color: #ff4200;text-decoration: none;">post to the forum</a>.</p>
    <div style="text-align:right;padding: 30px 0 0 0;"><img src="https://media.grabaperch.com/email/demo/common/sig.gif" width="141" height="23" alt="Rachel and Drew" style="height: auto;max-width: 100%;"></div>	
                                
 								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td style="padding: 20px;">
                    	<table class="content" border="0" cellspacing="0" cellpadding="0" style="margin: 0 0 20px 0;padding:20px 0 20px 0;background-image: url(https://media.grabaperch.com/email/demo/common/texture.png);border: 1px dashed #cacbcc;border-radius:5px;table-layout: fixed; width: 100%;">
							<tr>
								<td style="padding: 0 20px 0 20px;font-size: 12px;color: #333333;">
									

                              
                                

								<p style="margin: 0;padding: 0 0 1em 0;">The Nest running club website aims to demonstrate a more complex, fully featured site on Perch and was designed for us by Paddy Donnelly of <a style="color: #ff4200;text-decoration: none;" href="https://lefft.com/">Lefft</a>.</p>

								<p style="margin: 0;padding: 0 0 1em 0;">The other demo sites we have available show Perch in a simpler light – so if you are new to Perch you may find it helpful to look at those sites and their associated walkthroughs too. All the page and template code can be found on <a style="color: #ff4200;text-decoration: none;" href="https://github.com/PerchCMS/perchdemo-nest">GitHub</a>, feel free to take a look a that and even use it as a starting point if you need to achieve something similar.</p>

								<p style="margin: 0;padding: 0 0 1em 0;">Here are some things you might like to look at on the demo.</p>


                                 <div class="section" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">
								<h2 style="color: #334f57;font-size: 17px;margin: 0;padding: 0 0 10px 0;">Perch Dashboard</h2>

								<p style="margin: 0;padding: 0 0 1em 0;">When you log into the Perch admin you log into the <a style="color: #ff4200;text-decoration: none;" href="https://docs.grabaperch.com/docs/dashboard/?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=nest1">Perch Dashboard</a>, rather than the list of site pages found on our other demos. The Perch Dashboard can be enabled in Settings. Most of the apps have a dashboard Widget – for example you can view your forms and download a csv of responses from the dashboard, get quick links through to Blog comments and so on. If your site uses a lot of Apps then the Dashboard can help to give a quick overview.</p>

								<p style="margin: 0;padding: 0 0 1em 0;">You can also add additional Widgets to the Dashboard, we have some available for <a style="color: #ff4200;text-decoration: none;" href="https://grabaperch.com/add-ons/dashboard?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=nest1">download</a> and you can <a style="color: #ff4200;text-decoration: none;" href="https://docs.grabaperch.com/solutions/create-a-dashboard-widget/?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=nest1">create your own</a>. They are simple to develop if you have a little PHP knowledge.</p>


								<img src="https://media.grabaperch.com/email/demo/nest/nest_image1.png" alt="Dashboard" title="" class="image-feature" style="margin: 20px 0 20px 0;border: 1px solid #cacbcc;height: auto;max-width: 100%;">	

								
							</div>

							<div class="section" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">
								<h2 style="color: #334f57;font-size: 17px;margin: 0;padding: 0 0 10px 0;">Layouts</h2>

								<p style="margin: 0;padding: 0 0 1em 0;">You may already know Perch, and our method of dropping Perch Regions onto pages as demonstrated in the Swift Demo site. However it is possible to develop sites in a more advanced way using Perch, and a key to this is our <a style="color: #ff4200;text-decoration: none;" href="https://docs.grabaperch.com/docs/layouts/?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=nest1">Layouts feature</a>. In the Nest demo pages are pretty much HTML free as the common blocks of mark-up of the site are contained in a Layout. You can see these on GitHub, for example the <a style="color: #ff4200;text-decoration: none;" href="https://github.com/PerchCMS/perchdemo-nest/blob/master/public_html/perch/templates/layouts/global.above.php">global.above.php layout</a>. </p>

								<p style="margin: 0;padding: 0 0 1em 0;">These can then be used to build up a page and save reproducing the same HTML around your Pages. Here is the code for the contact page where you can also see <a style="color: #ff4200;text-decoration: none;" href="https://docs.grabaperch.com/docs/layouts/variables/?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=nest1">Layout Variables</a> in use.</p>

<pre><code><span class="pln">
</span><span class="pun">&lt;?</span><span class="pln">php
include</span><span class="pun">(</span><span class="str">'../perch/runtime.php'</span><span class="pun">);</span><span class="pln">

perch_layout</span><span class="pun">(</span><span class="str">'global.above'</span><span class="pun">,</span><span class="pln"> array</span><span class="pun">(</span><span class="pln">
</span><span class="str">'title'</span><span class="pln"> </span><span class="pun">=&gt;</span><span class="pln"> perch_page_title</span><span class="pun">(</span><span class="kwd">true</span><span class="pun">),</span><span class="pln">
</span><span class="str">'section_heading'</span><span class="pln"> </span><span class="pun">=&gt;</span><span class="pln"> </span><span class="str">'contact'</span><span class="pun">,</span><span class="pln">
</span><span class="pun">));</span><span class="pln">

perch_content</span><span class="pun">(</span><span class="str">'Contact form'</span><span class="pun">);</span><span class="pln">

perch_layout</span><span class="pun">(</span><span class="str">'global.sidebar'</span><span class="pun">,</span><span class="pln"> array</span><span class="pun">(</span><span class="pln">
</span><span class="str">'events'</span><span class="pln"> </span><span class="pun">=&gt;</span><span class="pln"> </span><span class="kwd">true</span><span class="pun">,</span><span class="pln">
</span><span class="str">'members'</span><span class="pln"> </span><span class="pun">=&gt;</span><span class="pln"> </span><span class="kwd">true</span><span class="pun">,</span><span class="pln">
</span><span class="pun">));</span><span class="pln">

perch_layout</span><span class="pun">(</span><span class="str">'global.below'</span><span class="pun">);</span><span class="pln">
</span><span class="pun">?&gt;</span></code></pre>

								<div class="vimeo" style="padding-top: 20px;"><a style="color: #ff4200;text-decoration: none;" href="https://docs.grabaperch.com/video/tutorials/techniques/layouts/?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=nest1"><img src="https://media.grabaperch.com/email/demo/nest/nest_vimeo1.png" alt="Video screenshot" title="Watch this video in the docs" /></a></div>
							</div>

							<div class="section" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">
								<h2 style="color: #334f57;font-size: 17px;margin: 0;padding: 0 0 10px 0;">The Members Add-on</h2>
								<p style="margin: 0;padding: 0 0 1em 0;"><a style="color: #ff4200;text-decoration: none;" href="https://grabaperch.com/add-ons/apps/members?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=nest1">Members</a> is one of our newer add-ons for Perch and it lets you create a secure Members area of your site. This can be useful if you want to create a place where people with access can download certain information that you would prefer wasn’t in public view. In the Nest site we have created an area for club members.</p>

								<p style="margin: 0;padding: 0 0 1em 0;">Depending on your needs you can create a way for people to request membership, as on this demo, or you could just create members from within the Admin. Registration Forms are templates so you can collect the information that you need. You can also tag members and give access to things on the site by Tag, as explained in the <a style="color: #ff4200;text-decoration: none;" href="https://docs.grabaperch.com/docs/members/tags/?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=nest1">members documentation</a>.</p>

								<p style="margin: 0;padding: 0 0 1em 0;">You can even <a style="color: #ff4200;text-decoration: none;" href="https://docs.grabaperch.com/docs/members/downloads/?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=nest1">create a secured download area</a> for files that only members should have access to.</p>

								<p style="margin: 0;padding: 0 0 1em 0;">The <a style="color: #ff4200;text-decoration: none;" href="https://grabaperch.com/add-ons/apps/members?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=nest1" style="color: #ff4200;text-decoration: none;">Members App</a> is a free download for anyone with a Perch license – just as with our other apps.</p>

								<img src="https://media.grabaperch.com/email/demo/nest/nest_image2.png" alt="Members" title="" class="image-feature" style="margin: 20px 0 20px 0;border: 1px solid #cacbcc;height: auto;max-width: 100%;">

							</div>							

																

							
							<div class="section" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">
								<p style="margin: 0;padding: 0 0 1em 0;">This is just a short overview of some of the things you can see in the Default Demo. We hope that you enjoy taking a look around. If you want to know more the <a href="https://grabaperch.com/demo?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=default1" style="color: #ff4200;text-decoration: none;">other demo sites</a> show a more fully worked website, and also some of the official Perch Apps and you can always <a href="mailto:hello@grabaperch.com" style="color: #ff4200;text-decoration: none;">drop us a line</a> if you have any questions.</p>
							</div>
                                
 								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
				  <td valign="top" class="footer">
                    	
                        <div class="bubble" style="background-image:url(https://media.grabaperch.com/email/demo/common/bubble.png); background-repeat: no-repeat;font-size: 12px; text-align:center;height: 43px;font-weight: bold;margin: 20px 58px 5px 58px; padding: 20px 10px 10px 10px;">Thanks for reading. Talk to us on <a href="https://grabaperch.com/twitter" style="color: #ff4200;text-decoration: none;">Twitter</a>, <a href="https://www.facebook.com/grabaperch" style="color: #ff4200;text-decoration: none;">Facebook</a> or <a href="mailto:hello@grabaperch.com" style="color: #ff4200;text-decoration: none;">email</a>.</div>

                        <div class="footerburd" style="background-image:url(https://media.grabaperch.com/email/demo/common/bottom.png); background-position: bottom left; background-repeat: no-repeat;height:115px;">&nbsp;</div>
                      
                    </td>
                 </tr>
                 <tr><td align="center" style="padding: 20px;background-image:url(https://media.grabaperch.com/email/demo/common/footer_tile.jpg);color: #ffffff;" bgcolor="#744c26">
                    	
                    
						<p class="company" style="font-size: 11px;color: #ffffff;padding-bottom:10px;">Perch is a product developed and sold by Perch Runway Limited
                        <br>
Registered as a company in England and Wales, company registration no. 12862192</p>
						
                                                               

				  </td>
			  </tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>