<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>      
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">       
        <title>Thanks for trying Perch!</title>
	</head>

	<body style="background-image: url(https://media.grabaperch.com/email/demo/common/sky.gif);background-repeat: repeat-x;-webkit-text-size-adjust: none;margin: 0;padding: 0;font: 12px/1.3 Helvetica, Arial, sans-serif;color: #334f57;background-color: #ffffff;width: 100%;">
<table border="0" cellspacing="0" cellpadding="0" class="wrapper" style="max-width: 600px;">
	<tr>
		<td>
        	<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="permission" style="font-size: 11px;font-weight: normal;color: #999999;padding: 10px 20px 10px 20px;"> 
						You are receiving this email because you signed up for a Perch Demo. Unless you asked to be kept up to date you will not receive more emails from us.
                    </td>
				</tr>
				<tr>
					<td class="header" style="padding: 0 0 0 20px;">
                    	
                    	<table width="100%" border="0" cellpadding="0" cellspacing="0">
                        	<tr>
                       		 	<td colspan="2" valign="top" align="center"><img src="https://media.grabaperch.com/email/demo/common/logo.png" alt="Perch" width="185" height="50" style="height: auto;max-width: 100%;"></td>
                            </tr>
                            <tr height="150">
                            	<td class="toc" style="width: 200px;font-size: 12px;padding: 30px 0 0 0;"><p style="color: #334f57;font-weight: bold;">Hi $userFirstName,</p>
                                <p style="font-weight: bold;color: #000000;">Thank you for trying Perch, we would love to know what you think!
								</p>
                                </td>
								
								<td align="right" style="background-position: 40px 20px;background-image: url(https://media.grabaperch.com/email/demo/common/fly_bird.png);width:145px;height: 150px;background-repeat:no-repeat;" class="flyburd">
									&nbsp;
								</td>
                            </tr>
                        </table>
                    </td>
		  		</tr>
				<tr>
					<td style="padding: 20px;">
                    	<table class="content" border="0" cellspacing="0" cellpadding="0" style="margin: 0 0 20px 0;padding:20px;background-image: url(https://media.grabaperch.com/email/demo/common/texture.png);border: 1px dashed #cacbcc;border-radius:5px;table-layout: fixed; width: 100%;">
							<tr>
								<td style="font-size: 12px;color: #333333;">
									

                              
                                    <div class="repeater" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">
										<p style="margin: 0;padding: 0 0 1em 0;">Loved it, hated it, or still have questions? <strong>Hit reply and let us know</strong> - we'll happily answer questions or use your feedback to make Perch better. If you are not sure whether Perch is a good fit for your project <a style="color: #ff4200;text-decoration: none;" href="mailto:hello@grabaperch.com">ask us</a>. We want people to love using Perch and we'll be honest if we think you would be better using something else.</p>

										<p style="margin: 0;padding: 0 0 1em 0;">Still on the fence? Take a look at our <a style="color: #ff4200;text-decoration: none;" href="https://grabaperch.com/people-love-perch?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=demo_out">People Love Perch</a> page to find out how others got along with Perch on real projects.</p>
								
									</div>	
					<p style="margin-top: 20px;">Your demo still has a couple more days to run, and you're more than welcome to try any of the demos again, any time you like, by signing up at <a style="color: #ff4200;text-decoration: none;" href="https://grabaperch.com/demo?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=demo_out">grabaperch.com/demo</a>.</p>
    <div style="text-align:right;padding: 30px 0 0 0;"><img src="https://media.grabaperch.com/email/demo/common/sig.gif" width="141" height="23" alt="Rachel and Drew"></div>	
                                
 								 
 								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td style="padding: 20px;">
                    	<table class="content" border="0" cellspacing="0" cellpadding="0" style="margin: 0 0 20px 0;padding:20px 0 20px 0;background-image: url(https://media.grabaperch.com/email/demo/common/texture.png);border: 1px dashed #cacbcc;border-radius:5px;table-layout: fixed; width: 100%;">
							<tr>
								<td style="padding: 0 20px 0 20px;font-size: 12px;color: #333333;">
									
								<div class="section" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">
									<h2 style="color: #334f57;font-size: 17px;margin: 0;padding: 0 0 10px 0;">More reasons to use Perch</h2>

                                 	<h3 style="font-size: 14px;margin: 0;padding: 0 0 10px 0;">Perch won't dictate your mark-up or how you design</h3>

                                 	<p style="margin: 0;padding: 0 0 1em 0;">"Perch is very easy to start using, we didn’t need to change the way we designed and built to fit around it. [...] The support is excellent and the developments and updates bring new functionality and reassure our clients that they won’t fall out of date." - <a style="color: #ff4200;text-decoration: none;" href="https://grabaperch.com/blog/archive/people-love-perch-philip-hansen?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=demo_out">Philip Hansen, Open Water</a></p>
								
								</div>
                            

                                 <div class="section" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">
                                 	


                                 	<h3 style="font-size: 14px;margin: 0;padding: 0 0 10px 0;">Build more functional sites - without needing to know PHP</h3>

                                 	<p style="margin: 0;padding: 0 0 1em 0;">"It's nice to be able to design and build all the functions without having to know PHP perfectly – and the support with Perch is great." - <a style="color: #ff4200;text-decoration: none;" href="https://grabaperch.com/blog/archive/people-love-perch-jim-clarkson?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=demo_out">Jim Clarkson</a></p>

                                 	<p style="margin: 0;padding: 0 0 1em 0;">"My primary skills are in design, and development/programming are not my forte. Working with Perch gives me the freedom to be as creative as I want with my designs without having to be concerned about the nightmares I’ll create for myself when it comes to development. I tell clients up front that it's the only CMS I use." - <a style="color: #ff4200;text-decoration: none;" href="https://grabaperch.com/blog/archive/people-love-perch-chris-gerringer?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=demo_out">Chris Gerringer, Paperbeatsscissors</a></p>
								
								</div>

								<div class="section" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">
                                 	<h3 style="font-size: 14px;margin: 0;padding: 0 0 10px 0;">Developers - add your own functionality, integrate with other systems</h3>

                                 	<p style="margin: 0;padding: 0 0 1em 0;">"for its simplicity and ease of integration. [We were building] a large, complicated PHP project and we didn’t want to implement anything too intrusive. Installation was a breeze and the interface was so intuitive that there was no training needed. It is easy to extend, which we have done to enable our images to be stored on S3 instead of the application servers." - <a style="color: #ff4200;text-decoration: none;" href="https://grabaperch.com/people-love-perch?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=demo_out">Marc Roberts, Neutron Creations</a></p>
								
								</div>

								<div class="section" style="padding: 1.2em 0 1em 0;">
                                 	<h3 style="font-size: 14px;margin: 0;padding: 0 0 10px 0;">Clients love using Perch - and need less support</h3>
                                 	<p style="margin: 0;padding: 0 0 1em 0;">"My clients love working with Perch. For training purposes, all that’s needed is a short demonstration and they quickly get the hang of things. It’s really intuitive and I never have clients ringing up asking how to do this or that." - <a style="color: #ff4200;text-decoration: none;" href="https://grabaperch.com/blog/archive/people-love-perch-andrew-rossborough?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=demo_out">Andrew Rossborough, SOLID</a></p>

                                 	<p style="margin: 0;padding: 0 0 1em 0;">"We work with a wide range of clients, with a varying range of technical abilities. The thing that amazes me time and time again is that once we explain the interface to Perch and walk the customer through it, they “get it” really quickly!" - <a style="color: #ff4200;text-decoration: none;" href="https://grabaperch.com/blog/archive/people-love-perch-james-stanley?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=demo_out">James Stanley, AppHaus</a></p>
                                 	
								</div>
							
                                
 								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
				  <td valign="top" class="footer">
                    	
                        <div class="bubble" style="background-image:url(https://media.grabaperch.com/email/demo/common/bubble.png); background-repeat: no-repeat;font-size: 12px; text-align:center;height: 43px;font-weight: bold;margin: 20px 58px 5px 58px; padding: 20px 10px 10px 10px;">Thanks for reading. Talk to us on <a href="https://grabaperch.com/twitter" style="color: #ff4200;text-decoration: none;">Twitter</a>, <a href="https://www.facebook.com/grabaperch" style="color: #ff4200;text-decoration: none;">Facebook</a> or <a href="mailto:hello@grabaperch.com" style="color: #ff4200;text-decoration: none;">email</a>.</div>

                        <div class="footerburd" style="background-image:url(https://media.grabaperch.com/email/demo/common/bottom.png); background-position: bottom left; background-repeat: no-repeat;height:115px;">&nbsp;</div>
                      
                    </td>
                 </tr>
                 <tr><td align="center" style="padding: 20px;background-image:url(https://media.grabaperch.com/email/demo/common/footer_tile.jpg);color: #ffffff;" bgcolor="#744c26">
                    	
                    
						<p class="company" style="font-size: 11px;color: #ffffff;padding-bottom:10px;">Perch is a product developed and sold by Perch Runway Limited
                        <br>
Registered as a company in England and Wales, company registration no. 12862192</p>
						
                                                               

				  </td>
			  </tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>