<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       
        
        <title>Your Perch CMS Demo is ready!</title>
		
	</head>

	<body style="background-image: url(https://media.grabaperch.com/email/demo/common/sky.gif);background-repeat: repeat-x;-webkit-text-size-adjust: none;margin: 0;padding: 0;font: 12px/1.3 Helvetica, Arial, sans-serif;color: #334f57;background-color: #ffffff;width: 100%;">
<table border="0" cellspacing="0" cellpadding="0" class="wrapper" style="max-width: 600px;">
	<tr>
		<td>
        	<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="permission" style="font-size: 11px;font-weight: normal;color: #999999;padding: 10px 20px 10px 20px;"> 
						This is your Perch Demo information. Unless you requested to be kept up to date you have not been added to any mailing list.
                    </td>
				</tr>
				<tr>
					<td class="header" style="padding: 0 0 0 20px;">
                    	
                    	<table width="100%" border="0" cellpadding="0" cellspacing="0">
                        	<tr>
                       		 	<td colspan="2" valign="top" align="center"><img src="https://media.grabaperch.com/email/demo/common/logo.png" alt="Perch" width="185" height="50" style="height: auto;max-width: 100%;"></td>
                            </tr>
                            <tr height="150">
                            	<td class="toc" style="width: 200px;font-size: 12px;padding: 30px 0 0 0;"><p style="color: #334f57;font-weight: bold;">Hi $userFirstName, good news!</p>
                                <p style="font-weight: bold;color: #000000;">Your personalised Perch CMS demo ($demoSite site) is ready.
								</p>
                                </td>
								
								<td align="right" style="background-position: 40px 20px;background-image: url(https://media.grabaperch.com/email/demo/common/fly_bird.png);width:145px;height: 150px;background-repeat:no-repeat;" class="flyburd">
									&nbsp;
								</td>
                            </tr>
                        </table>
                    </td>
		  		</tr>
				<tr>
					<td style="padding: 20px;">
                    	<table class="content" border="0" cellspacing="0" cellpadding="0" style="margin: 0 0 20px 0;padding:20px;background-image: url(https://media.grabaperch.com/email/demo/common/texture.png);border: 1px dashed #cacbcc;border-radius:5px;table-layout: fixed; width: 100%;">
							<tr>
								<td style="font-size: 12px;color: #333333;">
									

                              
                                    <div class="repeater" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;" mc:repeatable>
										<h2 style="color: #334f57;font-size: 17px;margin: 0;padding: 0 0 10px 0;">Your site details</h2>
										<p style="margin: 0;padding: 0 0 1em 0;">View the site at: <a href="https://$demoHost.$demoNode/" style="color: #ff4200;text-decoration: none;">$demoHost.$demoNode</a></p>

										<p style="margin: 0;padding: 0 0 1em 0;">You can log into the Perch Admin at: <a href="https://$demoHost.$demoNode/perch/" style="color: #ff4200;text-decoration: none;">$demoHost.$demoNode/perch</a>
								<br>Username: $demoUsername
								<br>Password: $demoPasswordClear

								</p><p style="margin: 0;padding: 0 0 1em 0;">Your demo site will be active for 72 hours. After that time the account will be wiped clean of any data. You can sign up for as many demos as often as you wish.</p>
								
									</div>	
					<p style="margin: 20px 0 0 0;padding: 0 0 1em 0;">Below are a few things you might like to take a look at as you explore the demo. We do hope that you enjoy Perch. If you have any questions, just reply to this email, or <a href="https://grabaperch.com/support" style="color: #ff4200;text-decoration: none;">post to the forum</a>.</p>
    <div style="text-align:right;padding: 30px 0 0 0;"><img src="https://media.grabaperch.com/email/demo/common/sig.gif" width="141" height="23" alt="Rachel and Drew" style="height: auto;max-width: 100%;"></div>	
                                
 								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td style="padding: 20px;">
                    	<table class="content" border="0" cellspacing="0" cellpadding="0" style="margin: 0 0 20px 0;padding:20px 0 20px 0;background-image: url(https://media.grabaperch.com/email/demo/common/texture.png);border: 1px dashed #cacbcc;border-radius:5px;table-layout: fixed; width: 100%;">
							<tr>
								<td style="padding: 0 20px 0 20px;font-size: 12px;color: #333333;">
									

                              
                                

								<p style="margin: 0;padding: 0 0 1em 0;">The Swift Migrations demo site is an example corporate website. It uses Perch Core along with our free add ons <a href="https://grabaperch.com/add-ons/apps/blog?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=swift1"  style="color: #ff4200;text-decoration: none;">Blog</a> and <a href="https://grabaperch.com/add-ons/apps/forms?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=swift1" style="color: #ff4200;text-decoration: none;">Forms</a>. Swift was designed by <a style="color: #ff4200;text-decoration: none;" href="https://laurakalbag.com/">Laura Kalbag</a>.</p>

								<p style="margin: 0;padding: 0 0 1em 0;">With the Swift Migrations website we have tried to show the process of adding Perch to a site already built using HTML and CSS. It demonstrates how Perch does not require the use of any themes, you can build your site in the usual way, using your favourite tools, and just add Perch at the end to make the site content editable.</p>

								<p style="margin: 0;padding: 0 0 1em 0;">The entire process of building the Swift site is documented in our <a style="color: #ff4200;text-decoration: none;" href="https://docs.grabaperch.com/video?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=swift1">video tutorial</a>, where you can even download the starting point un-Perched code. As with the other demos, the completed page and template code can be found on <a style="color: #ff4200;text-decoration: none;" href="https://github.com/PerchCMS/perchdemo-swift">GitHub</a>.</p>

								<p style="margin: 0;padding: 0 0 1em 0;">In our <a style="color: #ff4200;text-decoration: none;" href="https://docs.grabaperch.com/demo/default?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=swift1">walkthrough of the default site</a> we pointed out some of the basic content management capability of Perch, most of which is relevant in the Swift site too. However here are some other things to look at.</p>


                                 <div class="section" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">
								<h2 style="color: #334f57;font-size: 17px;margin: 0;padding: 0 0 10px 0;">Shared Regions</h2>

								<p style="margin: 0;padding: 0 0 1em 0;">There is often content on a site that needs repeating in various places. If it has to be re-entered each time that is time-consuming and also prone to mistakes, so Perch gives you away to make certain content shared. On the Swift site our contact details are created as a Shared Region. If you edit the contact details in the Perch Admin under Shared you will see that they change in the footer of the site on each page and also on the contact page itself.</p>

								<p style="margin: 0;padding: 0 0 1em 0;">This video demonstrates how we create the Shared Region.</p>

								<div class="vimeo"><a href="https://docs.grabaperch.com/video/tutorials/swift/shared-regions/?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=swift1"><img src="https://media.grabaperch.com/email/demo/swift/demo_swift_vimeo1.png" alt="Video screenshot" title="Watch this video on the documentation site" /></a></div>	

								
							</div>

							<div class="section" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">
								<h2 style="color: #334f57;font-size: 17px;margin: 0;padding: 0 0 10px 0;">Repeating Content with Multiple Item Regions</h2>

								<p style="margin: 0;padding: 0 0 1em 0;">When setting up a Region in Perch, you can optionally set that Region to allow multiple items. You can see this in action if you take a look at the Team page on the Swift Migrations site.</p>

								<p style="margin: 0;padding: 0 0 1em 0;">In Region options you also have a choice of Editing “All on one page” or using List Detail. If you look at the Team page in the Perch Admin, it is set up to use List Detail, click Region Options and check Edit all on one page and you can see that alternate view. You are likely to find both options useful. If a Multiple Item Region is just allowing the editor to add list items then all on one page makes sense, however larger and more complex templates are probably more suited to List Detail view.</p>

								<img src="https://media.grabaperch.com/email/demo/swift/demo_swift_image1.png" alt="Edit all on one page" title="" class="image-feature" style="margin: 20px 0 20px 0;border: 1px solid #cacbcc;height: auto;max-width: 100%;">
							</div>

							<div class="section" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">
								<h2 style="color: #334f57;font-size: 17px;margin: 0;padding: 0 0 10px 0;">Re-purposing content with perch_content_custom()</h2>

								<p style="margin: 0;padding: 0 0 1em 0;">On the homepage of our site are some Testimonals that display at random, these are pulled from the Testimonials page of the site and use <code>perch_content_custom()</code> to grab two testimonials from that region sorted randomly. Take a look at the video to see how this works and don’t forget that the page code and templates can be found on <a style="color: #ff4200;text-decoration: none;" href="https://github.com/PerchCMS/perchdemo-swift">GitHub</a> if you want to implement something like this yourself.</p>

								<div class="vimeo"><a href="https://docs.grabaperch.com/video/tutorials/swift/using-perch-content-custom/?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=swift1"><img src="https://media.grabaperch.com/email/demo/swift/demo_swift_vimeo2.png" alt="Video screenshot" title="Watch this video on the documentation site" /></a></div>
							</div>							

							<div class="section" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">
								<h2 style="color: #334f57;font-size: 17px;margin: 0;padding: 0 0 10px 0;">Using Perch Add-ons</h2>

								<p style="margin: 0;padding: 0 0 1em 0;">We are committed to a transparent price for Perch. When you buy a Perch license you also get access to all of our free apps and other add-ons for your site. We won’t charge you extra when you need to add a blog or create a contact form! The Swift site uses two of our add-ons, to see more in action check out the <a style="color: #ff4200;text-decoration: none;" href="https://grabaperch.com/demo?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=swift1">Nest Running Club Demo</a>.</p>

								<h3>Perch Forms</h3>

								<p style="margin: 0;padding: 0 0 1em 0;">The contact page has a form, this form is created using <a style="color: #ff4200;text-decoration: none;" href="https://docs.grabaperch.com/docs/form/template-tags/?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=swift1">Perch Form template tags</a> and, with the free <a style="color: #ff4200;text-decoration: none;" href="https://grabaperch.com/add-ons/apps/forms?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=swift1">Forms App</a> installed, can be configured to both email the responses somewhere and also store them in a way that means they can be viewed in admin and downloaded as a csv to be opened in Excel or Numbers, or imported into another system.</p>

								<p style="margin: 0;padding: 0 0 1em 0;">Perch makes adding forms simple and we have fully implemented the HTML5 forms field types so if your user is using a supporting browser the HTML5 Validation will be used, if not the forms are backed up with server-side validation implementing those same types.</p>

								<img src="https://media.grabaperch.com/email/demo/swift/demo_swift_image2.png" alt="Contact form" title="" class="image-feature" width="740" style="margin: 20px 0 20px 0;border: 1px solid #cacbcc;height: auto;max-width: 100%;">	<h3>The Blog</h3>

								<p style="margin: 0;padding: 0 0 1em 0;">In addition to the Forms App, the Swift site also has a blog using our free <a style="color: #ff4200;text-decoration: none;" href="https://grabaperch.com/add-ons/apps/blog?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=swift1">Blog App</a>. This app offers a blog with archives, categories, tags and comments and as with any content in Perch you can choose to edit using Textile, Markdown or HTML with any of our available <a style="color: #ff4200;text-decoration: none;" href="https://grabaperch.com/add-ons/plug-ins?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=swift1">WYSIWYG plugins</a>.</p>

								<p style="margin: 0;padding: 0 0 1em 0;">You can add your own custom fields to the Blog, using <a style="color: #ff4200;text-decoration: none;" href="https://docs.grabaperch.com/docs/blog/template-tags/?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=swift1">template tags</a> in exactly the same way you create templates for Perch Content, so if you would like your posts illustrated with an image or to contain some other information to work with your design and requirements you can do that easily. </p>

							</div>											

							
							<div class="section" style="padding: 1.2em 0 1em 0;border-bottom: 1px dashed #cacbcc;">
								<p style="margin: 0;padding: 0 0 1em 0;">This is just a short overview of some of the things you can see in the Default Demo. We hope that you enjoy taking a look around. If you want to know more the <a href="https://grabaperch.com/demo?utm_campaign=demo&amp;utm_medium=email&amp;utm_content=swift1" style="color: #ff4200;text-decoration: none;">other demo sites</a> show a more fully worked website, and also some of the official Perch Apps and you can always <a href="mailto:hello@grabaperch.com" style="color: #ff4200;text-decoration: none;">drop us a line</a> if you have any questions.</p>
							</div>
                                
 								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
				  <td valign="top" class="footer">
                    	
                        <div class="bubble" style="background-image:url(https://media.grabaperch.com/email/demo/common/bubble.png); background-repeat: no-repeat;font-size: 12px; text-align:center;height: 43px;font-weight: bold;margin: 20px 58px 5px 58px; padding: 20px 10px 10px 10px;">Thanks for reading. Talk to us on <a href="https://grabaperch.com/twitter" style="color: #ff4200;text-decoration: none;">Twitter</a>, <a href="https://www.facebook.com/grabaperch" style="color: #ff4200;text-decoration: none;">Facebook</a> or <a href="mailto:hello@grabaperch.com" style="color: #ff4200;text-decoration: none;">email</a>.</div>

                        <div class="footerburd" style="background-image:url(https://media.grabaperch.com/email/demo/common/bottom.png); background-position: bottom left; background-repeat: no-repeat;height:115px;">&nbsp;</div>
                      
                    </td>
                 </tr>
                 <tr><td align="center" style="padding: 20px;background-image:url(https://media.grabaperch.com/email/demo/common/footer_tile.jpg);color: #ffffff;" bgcolor="#744c26">
                    	
                    
						<p class="company" style="font-size: 11px;color: #ffffff;padding-bottom:10px;">Perch is a product developed and sold by Perch Runway Limited
                        <br>
Registered as a company in England and Wales, company registration no. 12862192</p>
						
                                                               

				  </td>
			  </tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>