<h2>Hi {{customerFirstName}}!</h2>

<p>You've requested a new password for your account at <a href="https://grabaperch.com/">grabaperch.com</a>. Here it is:</p>

<p>New password: <strong>{{clear_pwd}}</strong></p>

<p>You can <a href="https://grabaperch.com/account">log in to your account</a> using this email address and the new password.</p>

<p>Once you've logged in, please change your password to something you'll remember. Email isn't the most secure way to communicate passwords, so you should consider this one to be temporary.</p>